<section id="formacion">
    <div class="container py-3">
        <div class="header">
            <h2>Formación</h2>
        </div>

        <div class="card bc-ctran navlett" *ngFor="let education of educations">
            <div class="row" style="padding: 15px;">
                <div class="col-sm-5">
                    <img class="d-block w-100" src="{{education.imagenEdu}}" alt="Certificado">
                </div>
                <div class="col-md-7 px-3">
                    <div class="card-block px-6">
                        <h4 class="card-title sub-line">{{education.tituloEdu}}</h4>
                        <p class="card-text">
                            {{education.descEdu}}
                        </p>
                        <a><fa-icon [icon]="faCalendar"></fa-icon> : Realizado en el año {{education.fechaEdu}}</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!--Notification for no educations-->
<div *ngIf="educations?.length == 0" class="col-lg-12 col-md-12 col-xl-12 spinner">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>