<div id="experiencia">
    <div class="header">
        <h2>Experiencia</h2>
    </div>
    <div class="container py-5">
        <div class="main-timeline-5">
            <div class="timeline-5 right-5" *ngFor="let experiencia of experiencia">
                <div class="card bg-dark">
                    <div class="card-body p-4">
                        <h5 class="profile-name profile-position">{{experiencia.tituloExp}}</h5>
                        <span class="small text-light"><fa-icon [icon]="faClock"></fa-icon> Año de inicio
                            {{experiencia.fechaExp}}</span>
                        <p class="mt-2 mb-0 " style="color:white">{{experiencia.descExp}}</p>
                        <p><img src="{{experiencia.imagenExp}}" width="350px" height="220px"
                                style="border: 2px solid yellow; align-items: center;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Notification for no educations-->
<div *ngIf="experiencia?.length == 0" class="col-lg-12 col-md-12 col-xl-12 spinner">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>