<section class="inner pt-0" id="tecnologias">
    <div class="header navlett">
        <h2>Mis Habilidades</h2>
    </div>
    <div class="container-hab navlett">

        <div class="skill-box" *ngFor="let skill of skill">
            <div class="skill-title">
                <div class="pie animate no-round" style="--p:{{skill.porcentaje}};--c: orange;">
                    <div class="svg">
                        <img id="skill-icon" src="{{skill.fotoSkill}}" />
                    </div>
                </div>
                <h3>{{skill.nombreSkill}}</h3>
            </div>
        </div>


    </div>
</section>

<!--Notification for no Skills-->
<div *ngIf="skill?.length == 0" class="col-lg-12 col-md-12 col-xl-12 spinner">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>